.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 13rem;
}

.img {
  width: 15rem;
  height: 15rem;
}

.container h1 {
  color: #798777;
}
